:root {
    --cor-primaria: rgb(5, 90, 5); 
    --cor-secundaria: rgb(255, 255, 255);
    --cor-destaque1: rgb(38, 70, 83);
    --cor-destaque2: rgb(255, 255, 255);
    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(5, 90, 5, 0.659);
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 840px;
    max-height: 175px;
    gap: 10px;
    margin: 0 auto;
}
header nav ul li a {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 1.10rem;
}
header nav ul li{
    padding: 1.25rem;
    border-radius: 6px;
    opacity: 0.9;
    background-color: rgb(5, 92, 5) ;
}
header nav ul {
    justify-content: space-between;
    gap: 20px;
    display: flex;
    list-style: none;

}
header img{
    border-radius: 6px;
}
header nav{
    grid-column: 4;
}
body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque2);
}
main, footer{
    margin: 0 auto;
    max-width: 840px;
}
h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-destaque1);
    color: rgb(255, 255, 255);
    font-family: var(--fonte-titulo);
}
.grid-historia {
    color: rgb(5, 92, 5);
    display: grid;
    gap: 0px 20px;
    background-color: rgb(240, 240, 240);
    
    grid-template-columns: repeat(3, 1fr); 
    
    grid-template-areas: 
        "header header header"
        "esquerdo imagem direito";
        
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.titulo {
    margin-top: 30px;
    grid-area: header;
    text-align: center;
    font-size: 30px;
}

.texto1 {
    grid-area: esquerdo;
    text-align: justify;
    color: rgb(5, 92, 5);
}

.grimg {
    grid-area: imagem;
}

.grimg img {
    width: 100%;
    height: auto;
    display: block;
}

.texto2 {
    grid-area: direito;
    text-align: justify;
    color: rgb(5, 92, 5);

}
.section-1{
    padding: 20px;
    margin: 10px -20px 20px -20px;
}

h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}
p, section, article {
    margin: 16px;
    padding: 8px;
}
.hero h1{
    position: absolute;
}
.hero{
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
article{
    background-color: rgba(5, 90, 5, 0.871);
    position: absolute;
    top: 200px;
    border-radius: 6px;
}
.hero article{
    position:absolute;
    height: 150px;
}
.hero article img {
    float: right;
    width: 125px;
}
.hero article p{
    color: rgb(240, 240, 240);
}


.section-2{
    padding: 20px;
    background-color: rgb(240, 240, 240);
    margin: 0 0 20px 0;
    color:rgb(5, 92, 5);
}

.alinhar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

figure{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
figure img{
    width: 90%;
    margin: 5px;
    
}   
footer p{
    display: flex;
    justify-content: end;
    grid-column: 5;
    font-size: 15px;
    padding: 0;
}

.socialmedia{
    grid-column: 6;
    display: flex;
    justify-content: center;

}
.socialmedia a{
    text-decoration: none;
    font-size: 0;
    padding: 0;
    width: 60px;
    margin: 15px;

}
footer {
    background-color: var(--cor-primaria);
    color: var(--cor-destaque2);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    align-items: center;
}