main{
    max-width: 840px;
}
nav{
    background-color: rgb(63, 134, 228);
    padding: 0;
}
nav a{
    color: gainsboro;
    padding: 10px;
    display: block;
}
main img{
    width: 150px;
    height: auto;
    border: 3px solid rgb(26, 62, 110);
    padding: 2px;
    box-shadow: 0 0 15px rgb(48, 134, 247);
}
h1{
    color: rgb(48, 134, 247);
}
p{
    padding: 0;
}
aside{
    width: 19em;
    margin: 1em;
    border: 1px solid black;
    padding: 1em;
    background-color: gainsboro;
    color: rgb(24, 184, 24);
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000f04;
    text-align: center;
}